{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>NextTrack</title>

  <!-- ------------ CSS -------------- -->
  <link rel="stylesheet" href="{% static 'style.css' %}">


</head>

<body>
<header class="site-header" style="display:flex;align-items:center;gap:.35rem">

  <!-- Home link -->
  <a href="{% url 'home' %}" class="logo">NextTrack</a>
  
  <!--Hamberger button-->
  <button class="hamburger" aria-label="Menu"
  onclick="document.getElementById('main-nav').classList.toggle('open')">
  ☰
  </button>
  <nav id="main-nav" >
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'charts' %}">Charts</a>
    {% if request.user.is_authenticated %}
      <a href="{% url 'playlist_list' %}">My Playlists</a>
      <a href="{% url 'vocal_recommend' %}">My Vocal Songs</a>
      <form action="{% url 'logout' %}" method="post" style="display:inline">
        {% csrf_token %}
        <button style="background:none;border:none;padding:0;color:var(--primary);cursor:pointer">
          Logout
        </button>
      </form>
    {% else %}
      <a href="{% url 'login' %}">Login</a>
      <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
  </nav>
<!--site-wide search form-->
  <form action="{% url 'search' %}" method="get" class="search-bar" style="margin-left:auto;max-width:400px">
  <input name ="q" placeholder="Search for songs or artists…" required>
  <button>Search</button>
  </form>

</header>

<main class="container">
  {% block content %}{% endblock %}
</main>

<footer>Powered by <a href="https://www.last.fm/api" target="_blank">Last.fm API</a></footer>
</body>
</html>
