{% extends "base.html" %}
{% load static %}
{% block content %}
<h2>Global Top Tracks</h2>

<div class="grid">
  {% for t in tracks %}
    <div class="card">
      <h3>{{ t.name }}</h3>
      <p class="meta">{{ t.artist.name }}</p>

      {% if t.preview %}
        <details>
          <summary>▶ 30-sec Preview</summary>
          <audio controls>
            <source src="{{ t.preview }}" type="audio/mpeg">
          </audio>
        </details>
      {% endif %}
    </div>
  {% endfor %}
</div>
{% endblock %}
